.oya {
    background-color: #fff9e0;
    border: 1px solid black;
  }
  .ko {
    background-color: #ff6600;
    color: #fff9e0;
  }
  .ko-heiretsu {
    background-color: #ce2525;
    color: #fff9e0;
  }
  .oya-heiretsu {
    background-color: #f1c550;
    color: #fff9e0;
  }


/* ここから解答 */
.oya_css {
display: flex;
}
.ko_css {
height: 50px;
width: 50px;
justify-content: space-between;
}
.ko-1 {

}
.ko-2 {

}
.ko-3 {

}
.ko-4 {

}
.ko-5 {

}
/* ここまで解答 */
.oya_css {
background-color: #fff9e0;
border: 1px solid black;
}
.ko_css {
box-sizing: border-box;
background-color: #ff6600;
border: 1px solid #ce2525;
color: #fff9e0;
text-align: center;
}

.oya_css2 {
background-color: #fff9e0;
border: 1px solid black;
display: flex;
flex-flow: column wrap;
align-items: center;/* または、align-content: space-around; */
width: 150px;
height: 150px;
}
.ko_css2 {
box-sizing: border-box;
background-color: #ff6600;
border: 1px solid #ce2525;
color: #fff9e0;
height: 50px;
width: 50px;
text-align: center;
}