<h1>Hello world!</h1>
<%= link_to 'ここを押してね！', :controller => "hello", :action => "link" %>
<%= button_to "ログイン", { :controller => "tweets", :action => "index"}, :method => :get %>
<%= button_to "新規登録", { :controller => "devise/registrations", :action => "new"}, :method => :get %>